::before::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
.form {
    display: inline-block;
    position: relative;

}

.add {
    display: inline-block;
    position: relative;
    margin: 45px;
    left: 150px ;
}


.table {
    display: inline-block;
    position: relative;
    margin: 100px;
    width: 75%;
    
    
}

