::before::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 300%;
    height: 50vh;
}
body {
    background-color: blue
}
.add {
    display: inline-block;
    position: relative;
    margin: 45px;
    left: 150px ;
}
.task {
    display: inline-block;
    position: relative;
    width: 200px

}
.table {
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
    margin: 100px;
    
}